<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day30</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitAdd</display-name>
    <servlet-name>InitAdd</servlet-name>
    <servlet-class>com.atcast.servlet.InitAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitAdd</servlet-name>
    <url-pattern>/initAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLinkman</display-name>
    <servlet-name>AddLinkman</servlet-name>
    <servlet-class>com.atcast.servlet.AddLinkman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLinkman</servlet-name>
    <url-pattern>/addLinkman</url-pattern>
  </servlet-mapping>
</web-app>