<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 配置持久层 -->
	<bean id="customerDao" class="com.atcast.dao.CustomerDaoImpl" />

	<!-- 配置客户的业务层 -->
	<bean id="customerService" class="com.atcast.service.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao" />
	</bean>

	<!-- 配置客户模块 -->
	<!-- 强调：以后配置Action，必须是多例的 -->
	<bean id="customerAction" class="com.atcast.web.action.CustomerAction"
		scope="prototype">
		<property name="customerService" ref="customerService" />
	</bean>
</beans>
